@import url("https://use.typekit.net/dqd3zrm.css");
@import url("https://fonts.googleapis.com/css?family=Parisienne");
.step1,
.step2,
.step3 {
  background-color: transparent !important;
}
::selection {
  background: #ebae34;
}
::-moz-selection {
  background: #ebae34;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  box-sizing: border-box;
}
body {
  font-family: "alda";
  font-weight: 400;
  background-size: cover !important;
  font-size: 1.4rem;
  margin: 80px 0 0 0;
}
body#home {
  background: url("../../assets/backgrounds/bg.jpg") right center no-repeat fixed;
  margin-top: 0;
}
body#rsvp {
  background: url("../../assets/backgrounds/rsvp.jpg") center center no-repeat fixed;
}
body#details {
  background: url("../../assets/backgrounds/belvedere3.jpg") left top no-repeat fixed;
}
body#proposal {
  background: url("../../assets/backgrounds/cinqueterre.jpg") right center no-repeat fixed;
}
body#entourage {
  background: url("../../assets/backgrounds/bg.jpg") right center no-repeat fixed;
}
body#invite {
  background: url("../../assets/backgrounds/invite.jpg") right center no-repeat fixed;
}
a {
  color: default;
  text-decoration: none;
  transition: ease-in 150ms;
}
a:hover {
  color: #76571a;
}
h1 {
  font-size: 6rem;
  font-weight: 100;
  font-family: "aktiv-grotesk";
  color: #ebae34;
}
h2 {
  font-size: 3rem;
  font-weight: 100;
  margin-top: -8px;
  color: #ebae34;
}
h4 {
  font-family: "aktiv-grotesk";
  font-size: 2.1rem;
  font-weight: 300;
  margin: 0 0 10px;
  text-align: center;
}
h5 {
  font-family: "aktiv-grotesk";
  font-weight: 700;
  color: #d9d5ce;
  text-transform: lowercase;
  font-variant: small-caps;
  margin-bottom: 0;
  letter-spacing: 0.2rem;
  font-size: 2rem;
}
.bodytext {
  font-size: 16px;
  font-weight: 300;
  font-family: "aktiv-grotesk";
}
.detailtext {
  font-size: 2.1rem;
  line-height: 2.4rem;
  font-weight: 200;
  font-family: "alda";
  color: #ebae34;
}
.nomargin {
  margin: 0;
}
a.button,
a:visited.button,
a:active.button {
  text-align: center;
  display: flex;
  height: 55px;
  align-items: center;
  padding: 0 40px;
  font-family: "Crimson";
  font-size: 2rem;
  font-weight: 400;
  transition: 250ms ease-in-out;
  margin-bottom: 30px;
}
a.button:first-child,
a:visited.button:first-child,
a:active.button:first-child {
  margin-right: 7px;
}
.videobg {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  width: 100%;
  height: 100%;
}
.videobg .video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.light h4 {
  color: #2d2e30;
  font-weight: 400;
  font-family: "alda";
}
#centerText {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 85%;
  color: #d9d5ce;
}
#centerText h1 {
  font-family: "alda";
  color: #ebae34;
  font-size: 6.5rem;
  font-weight: 100;
  margin-bottom: -22px;
}
p.mediumtext {
  font-size: 2rem;
  color: #d9d5ce;
}
p.smalltext {
  font-size: 1.4rem;
  color: #9a9499;
}
.bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15%;
}
#cvlogo {
  width: 300px;
  opacity: 1;
}
#cvlogo-main {
  width: 125px;
  opacity: 1;
}
#cvlogo-sm {
  width: 80px;
  margin-bottom: 30px;
}
.left-links,
.right-links {
  width: 30%;
  position: relative;
  height: 250px;
}
.left-links > div,
.right-links > div {
  display: flex;
  height: 50%;
  position: relative;
}
.left-links > div > div,
.right-links > div > div {
  width: 50%;
  position: relative;
  height: 100%;
  box-sizing: border-box;
}
.left-links > div > div > a,
.right-links > div > div > a {
  height: 100%;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgba(217,213,206,0.7);
  box-sizing: border-box;
  font-size: 3rem;
  color: #ebae34;
  text-decoration: none;
  font-weight: 100;
  line-height: 3rem;
}
.left-links > div {
  right: 0;
}
.left-links > div > .mainlink-container:last-child {
  margin-right: none;
}
.left-links > div > .mainlink-container:last-child > a {
  border: none;
}
.right-links > div > .mainlink-container:last-child {
  margin-right: none;
}
.right-links > div > .mainlink-container:last-child > a {
  border: none;
}
.top-links {
  border-bottom: 1px solid rgba(217,213,206,0.7);
}
.top-links div:first-child > a:hover {
  box-shadow: 1px 1px 0px #ebae34;
}
.top-links div:last-child > a:hover {
  box-shadow: -1px 1px 0px #ebae34;
}
.bottom-links div:first-child > a:hover {
  box-shadow: 1px -1px 0px #ebae34;
}
.bottom-links div:last-child > a:hover {
  box-shadow: -1px -1px 0px #ebae34;
}
#centernav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100%;
  width: 100%;
  color: #d9d5ce;
  height: 65%;
}
#centernav h1 {
  font-family: "alda";
  color: #ebae34;
  font-size: 6.5rem;
  font-weight: 100;
  margin-bottom: -22px;
}
#centernav img {
  margin: 0 50px;
}
.contentarea {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  color: #d9d5ce;
}
.navbar {
  top: 1%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 999;
}
.navbar a {
  font-family: "alda" !important;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #2d2e30;
}
.left {
  align-items: flex-start;
  margin-right: 20px;
}
.center {
  align-items: center;
}
.right {
  align-items: flex-end;
  margin-left: 30px;
}
.container {
  margin: 0 30px;
  width: 100%;
  display: flex;
}
.column {
  flex-direction: column;
}
.row {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.details {
  width: 30%;
}
.details .detailtext {
  color: #2d2e30;
  margin: 0 0 30px;
}
#details a.body-links {
  color: #2d2e30;
  border-bottom: 2px dotted #ebae34;
}
#details a.body-links:hover {
  color: #ebae34;
}
#details h2 {
  color: #2d2e30;
  margin-bottom: 30px;
}
#details h5 {
  color: #ebae34;
  margin: 0;
}
#details > .contentarea {
  justify-content: flex-start;
}
#details .navbar {
  justify-content: flex-start;
  left: 0;
  width: auto;
  margin-left: 30px;
}
#gifts > .contentarea {
  justify-content: flex-start;
  align-items: center;
}
#gifts h1 {
  margin-top: 0;
  margin-bottom: 10px;
}
#gifts a.body-links {
  border-bottom: 2px dotted #ebae34;
  color: #2d2e30;
}
#gifts .bodytext {
  width: 50%;
  color: #2d2e30;
  font-size: 2.4rem;
  line-height: 2.6rem;
  text-align: center;
  margin: 10px 0;
}
#gifts .footnote {
  position: fixed;
  bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
#gifts .footnote p {
  font-family: "aktiv-grotesk";
  background-color: rgba(0,0,0,0.7);
  padding: 12px 15px;
  border-radius: 2px;
  color: #d9d5ce;
  margin: 2px 0;
  text-align: center;
}
#gifts .footnote p:first-child {
  font-size: 1.2rem;
  font-weight: 600;
  color: #ebae34;
  text-transform: uppercase;
}
div.rsvp {
  height: 950;
}
.cinqueterre-overlay {
  background: url("../../assets/backgrounds/cinqueterre2.jpg") right center no-repeat fixed;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
div.proposal {
  justify-content: flex-start;
  z-index: 10;
  margin-top: -84px;
  position: relative;
}
div.proposal .description {
  margin-right: 50px;
  width: 40%;
  padding: 30px;
  background-color: rgba(255,255,255,0.8);
}
div.proposal p.bodytext {
  color: #2d2e30;
  margin-bottom: 15px;
  word-wrap: break-word;
  font-weight: 500;
  font-family: "alda";
}
div.proposal h1 {
  margin: 0 0 0 0;
}
#proposal .navbar {
  justify-content: flex-end;
  right: 80px;
  z-index: 500;
}
div.photos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 90px;
}
div.photos img {
  padding: 3px;
}
.invite {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.invite .invite-buttons {
  display: inline-flex;
}
.invite div#invites img {
  height: 1100px;
  pointer-events: none;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 720px) {
  body {
    background-attachment: initial;
  }
  body#gifts:before {
    display: none;
  }
  body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background-size: cover !important;
  }
  body#home:before {
    background: url("../../assets/backgrounds/bg-mobile.jpg") right center no-repeat fixed;
  }
  body#details:before {
    background: url("../../assets/backgrounds/belvedere3.jpg") left top no-repeat fixed;
  }
  body#proposal:before {
    background: url("../../assets/backgrounds/cinqueterre2.jpg") right center no-repeat fixed;
  }
  body#photos:before {
    background: url("../../assets/backgrounds/bg.jpg") right center no-repeat fixed;
  }
  body#entourage:before {
    background: url("../../assets/backgrounds/bg.jpg") right center no-repeat fixed;
  }
  #centernav {
    flex-direction: column;
    height: 100%;
  }
  #centernav > img {
    margin: 15px 0 -5px;
  }
  .left-links,
  .right-links {
    width: 90%;
    position: static;
  }
  .left-links {
    top: 0;
  }
  .cinqueterre-overlay {
    display: none;
  }
  div.proposal {
    justify-content: none;
    margin-top: 0;
  }
  div.proposal .description {
    margin-right: 0;
    width: 80%;
    background-color: rgba(255,255,255,0.8);
  }
  body#proposal .cinqueterre-overlay {
    display: none !important;
  }
  body#proposal .navbar {
    justify-content: flex-start;
    width: 80%;
    margin: 0;
    left: 30px;
    padding-left: 20px;
  }
  .videobg {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    width: 100%;
    height: 100%;
  }
  .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #gifts .contentarea {
    width: 100%;
    background-color: rgba(255,255,255,0.8);
  }
  #gifts .contentarea p.bodytext {
    width: 80%;
  }
  #gifts div.footnote {
    display: none;
  }
  #details .contentarea {
    margin: 0;
    width: 90%;
  }
  #details .contentarea .container {
    display: flex;
    flex-direction: column;
  }
  #details .contentarea .container .col2 {
    width: 80%;
    margin-left: 0;
  }
  #invites {
    height: auto;
    width: 100%;
  }
  #invites img {
    width: 100%;
    height: auto !important;
  }
}
.m-scene .scene_element {
  animation-duration: 0.25s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}
.m-scene .scene_element--fadein {
  animation-name: fadeIn;
}
.m-scene .scene_element--fadeinup {
  animation-name: fadeInUp;
}
.m-scene .scene_element--fadeinright {
  animation-name: fadeInRight;
}
.slideRight {
  animation-duration: 2000ms;
  animation-name: slideRight;
}
.fadeIn {
  animation-duration: 2000ms;
  animation-name: fadeIn;
  transition-timing-function: ease-in-out;
}
.fadeindown {
  animation-name: fadeIn, slideDown;
  transition-timing-function: ease-in;
}
.fadewidth {
  animation-name: widthExpand, fadeIn;
  animation-duration: 2000ms, 2000ms;
  transition-timing-function: ease-in;
}
.expandup {
  animation-name: growUp, fadeIn;
  animation-duration: 2000ms, 2000ms;
  transition-timing-function: ease-in;
}
.expanddown {
  animation-name: growDown, fadeIn;
  animation-duration: 2000ms, 2000ms;
  transition-timing-function: ease-in;
}
.duration-1500 {
  animation-duration: 1500ms, 1500ms;
}
.duration-2000 {
  animation-duration: 2000ms, 2000ms;
}
.duration-2500 {
  animation-duration: 2500ms, 2500ms;
}
.delay-1000 {
  animation-delay: 1000ms;
  animation-fill-mode: both;
}
.delay-1100 {
  animation-delay: 1100ms;
  animation-fill-mode: both;
}
.delay-1000 {
  animation-delay: 1000ms;
  animation-fill-mode: both;
}
.delay-1300 {
  animation-delay: 1300ms;
  animation-fill-mode: both;
}
.delay-1400 {
  animation-delay: 1400ms;
  animation-fill-mode: both;
}
.delay-1500 {
  animation-delay: 1500ms;
  animation-fill-mode: both;
}
.delay-1600 {
  animation-delay: 1600ms;
  animation-fill-mode: both;
}
.delay-1700 {
  animation-delay: 1700ms;
  animation-fill-mode: both;
}
.delay-1800 {
  animation-delay: 1800ms;
  animation-fill-mode: both;
}
.delay-1900 {
  animation-delay: 1900ms;
  animation-fill-mode: both;
}
.delay-3000 {
  animation-delay: 3000ms;
  animation-fill-mode: both;
}
.delay-2000 {
  animation-delay: 2000ms;
  animation-fill-mode: both;
}
.delay-2100 {
  animation-delay: 2100ms;
  animation-fill-mode: both;
}
.delay-2200 {
  animation-delay: 2200ms;
  animation-fill-mode: both;
}
.delay-2300 {
  animation-delay: 2300ms;
  animation-fill-mode: both;
}
.delay-2400 {
  animation-delay: 2400ms;
  animation-fill-mode: both;
}
.delay-2500 {
  animation-delay: 2500ms;
  animation-fill-mode: both;
}
.delay-2600 {
  animation-delay: 2600ms;
  animation-fill-mode: both;
}
.delay-2700 {
  animation-delay: 2700ms;
  animation-fill-mode: both;
}
.delay-2800 {
  animation-delay: 2800ms;
  animation-fill-mode: both;
}
.delay-2900 {
  animation-delay: 2900ms;
  animation-fill-mode: both;
}
.delay-3000 {
  animation-delay: 3000ms;
  animation-fill-mode: both;
}
.draw-border {
  box-shadow: inset 0 0 0 2px #ebae34;
  color: #ebae34;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}
.draw-border::before,
.draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.draw-border::before {
  border-bottom-width: 2px;
  border-left-width: 2px;
}
.draw-border::after {
  border-top-width: 2px;
  border-right-width: 2px;
}
.draw-border:hover {
  color: #fff;
  border-radius: 10px 0 0 0;
}
.draw-border:hover::before,
.draw-border:hover::after {
  border-color: #fff;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
  border-radius: 10px 0 0 0;
}
.draw-border:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}
@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-moz-keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(50%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(50%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-o-keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(50%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(50%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-moz-keyframes slideRight {
  0% {
    transform: translate3d(50%, 0, 0);
  }
  100% {
    transform: none;
  }
}
@-webkit-keyframes slideRight {
  0% {
    transform: translate3d(50%, 0, 0);
  }
  100% {
    transform: none;
  }
}
@-o-keyframes slideRight {
  0% {
    transform: translate3d(50%, 0, 0);
  }
  100% {
    transform: none;
  }
}
@keyframes slideRight {
  0% {
    transform: translate3d(50%, 0, 0);
  }
  100% {
    transform: none;
  }
}
@-moz-keyframes slideDown {
  0% {
    transform: translate3d(0, -20%, 0);
  }
  100% {
    transform: none;
  }
}
@-webkit-keyframes slideDown {
  0% {
    transform: translate3d(0, -20%, 0);
  }
  100% {
    transform: none;
  }
}
@-o-keyframes slideDown {
  0% {
    transform: translate3d(0, -20%, 0);
  }
  100% {
    transform: none;
  }
}
@keyframes slideDown {
  0% {
    transform: translate3d(0, -20%, 0);
  }
  100% {
    transform: none;
  }
}
@-moz-keyframes widthExpand {
  from {
    width: 0%;
    position: absolute;
  }
  to {
    width: 100%;
    position: absolute;
  }
}
@-webkit-keyframes widthExpand {
  from {
    width: 0%;
    position: absolute;
  }
  to {
    width: 100%;
    position: absolute;
  }
}
@-o-keyframes widthExpand {
  from {
    width: 0%;
    position: absolute;
  }
  to {
    width: 100%;
    position: absolute;
  }
}
@keyframes widthExpand {
  from {
    width: 0%;
    position: absolute;
  }
  to {
    width: 100%;
    position: absolute;
  }
}
@-moz-keyframes growUp {
  from {
    height: 0%;
    position: absolute;
    bottom: 0;
  }
  to {
    height: 100%;
    position: absolute;
    bottom: 0;
  }
}
@-webkit-keyframes growUp {
  from {
    height: 0%;
    position: absolute;
    bottom: 0;
  }
  to {
    height: 100%;
    position: absolute;
    bottom: 0;
  }
}
@-o-keyframes growUp {
  from {
    height: 0%;
    position: absolute;
    bottom: 0;
  }
  to {
    height: 100%;
    position: absolute;
    bottom: 0;
  }
}
@keyframes growUp {
  from {
    height: 0%;
    position: absolute;
    bottom: 0;
  }
  to {
    height: 100%;
    position: absolute;
    bottom: 0;
  }
}
@-moz-keyframes growDown {
  from {
    height: 0%;
    position: absolute;
    top: 0;
  }
  to {
    height: 100%;
    position: absolute;
    top: 0;
  }
}
@-webkit-keyframes growDown {
  from {
    height: 0%;
    position: absolute;
    top: 0;
  }
  to {
    height: 100%;
    position: absolute;
    top: 0;
  }
}
@-o-keyframes growDown {
  from {
    height: 0%;
    position: absolute;
    top: 0;
  }
  to {
    height: 100%;
    position: absolute;
    top: 0;
  }
}
@keyframes growDown {
  from {
    height: 0%;
    position: absolute;
    top: 0;
  }
  to {
    height: 100%;
    position: absolute;
    top: 0;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 720px) {
  body {
    background-attachment: initial;
  }
  body#gifts:before {
    display: none;
  }
  body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background-size: cover !important;
  }
  body#home:before {
    background: url("../../assets/backgrounds/bg-mobile.jpg") right center no-repeat fixed;
  }
  body#details:before {
    background: url("../../assets/backgrounds/belvedere3.jpg") left top no-repeat fixed;
  }
  body#proposal:before {
    background: url("../../assets/backgrounds/cinqueterre2.jpg") right center no-repeat fixed;
  }
  body#photos:before {
    background: url("../../assets/backgrounds/bg.jpg") right center no-repeat fixed;
  }
  body#entourage:before {
    background: url("../../assets/backgrounds/bg.jpg") right center no-repeat fixed;
  }
  #centernav {
    flex-direction: column;
    height: 100%;
  }
  #centernav > img {
    margin: 15px 0 -5px;
  }
  .left-links,
  .right-links {
    width: 90%;
    position: static;
  }
  .left-links {
    top: 0;
  }
  .cinqueterre-overlay {
    display: none;
  }
  div.proposal {
    justify-content: none;
    margin-top: 0;
  }
  div.proposal .description {
    margin-right: 0;
    width: 80%;
    background-color: rgba(255,255,255,0.8);
  }
  body#proposal .cinqueterre-overlay {
    display: none !important;
  }
  body#proposal .navbar {
    justify-content: flex-start;
    width: 80%;
    margin: 0;
    left: 30px;
    padding-left: 20px;
  }
  .videobg {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    width: 100%;
    height: 100%;
  }
  .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #gifts .contentarea {
    width: 100%;
    background-color: rgba(255,255,255,0.8);
  }
  #gifts .contentarea p.bodytext {
    width: 80%;
  }
  #gifts div.footnote {
    display: none;
  }
  #details .contentarea {
    margin: 0;
    width: 90%;
  }
  #details .contentarea .container {
    display: flex;
    flex-direction: column;
  }
  #details .contentarea .container .col2 {
    width: 80%;
    margin-left: 0;
  }
  #invites {
    height: auto;
    width: 100%;
  }
  #invites img {
    width: 100%;
    height: auto !important;
  }
}
.light .navicon {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 99;
  transition: linear 0.5s all;
  width: 20px;
  height: 20px;
  padding: 20px;
  background-color: rgba(235,174,52,0.5);
  border-radius: 50%;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
.light .navicon:hover {
  background-color: #ebae34;
}
.light .navicon:before,
.light .navicon:after {
  background: #2d2e30;
  backface-visibility: hidden;
  content: "";
  height: 2px;
  left: 16px;
  transition: 0.8s ease;
  width: 30px;
}
.light .navicon:before {
  box-shadow: #2d2e30 0 9px 0 0;
  position: absolute;
  top: 20px;
}
.light .navicon:after {
  position: absolute;
  top: 38px;
}
.light .navicon--active {
  margin-top: 0px;
  transition: linear 0.5s all;
  border-radius: 50% 50% 50% 0;
}
.light .navicon--active:before {
  box-shadow: transparent 0 0 0 0;
  top: 28px;
  transform: rotate(225deg);
}
.light .navicon--active:after {
  top: 28px;
  transform: rotate(315deg);
}
.light .toggle {
  display: block;
  margin: 20px auto;
  width: 100%;
  max-width: 720px;
  background-color: rgba(235,174,52,0.925);
  display: block;
  opacity: 0;
  transition: ease-in 0.5s all;
  transform: translateY(-200%);
  min-width: 450px;
  position: absolute;
  top: calc(3% + 60px);
  border-radius: 0 15px 15px 15px;
}
.light .toggle--active {
  display: block;
  opacity: 1;
  transition: ease-in 0.5s all;
  transform: translateY(0);
}
.light .toggle__menu {
  padding: 0;
  margin: 0;
}
.light .toggle__menu li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, rgba(255,255,255,0.85) 33%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 4px 1px;
  background-repeat: repeat-x;
}
.light .toggle__menu li:last-child {
  border: none;
  padding-bottom: 0;
  background-image: none;
}
.light .toggle__menu li:first-child {
  padding-top: 0;
}
.light .toggle__menu li a {
  text-decoration: none;
  color: #2d2e30;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0;
  font-size: 2.1rem;
}
.light .toggle__menu li a:hover {
  color: #ebae34;
  background-color: #fff;
}
