@media only screen and (min-device-width: 320px) and (max-device-width: 720px) {
  body {
    background-attachment: initial;
  }
  body#gifts:before {
    display: none;
  }
  body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background-size: cover !important;
  }
  body#home:before {
    background: url("../../assets/backgrounds/bg-mobile.jpg") right center no-repeat fixed;
  }
  body#details:before {
    background: url("../../assets/backgrounds/belvedere3.jpg") left top no-repeat fixed;
  }
  body#proposal:before {
    background: url("../../assets/backgrounds/cinqueterre2.jpg") right center no-repeat fixed;
  }
  body#photos:before {
    background: url("../../assets/backgrounds/bg.jpg") right center no-repeat fixed;
  }
  body#entourage:before {
    background: url("../../assets/backgrounds/bg.jpg") right center no-repeat fixed;
  }
  #centernav {
    flex-direction: column;
    height: 100%;
  }
  #centernav > img {
    margin: 15px 0 -5px;
  }
  .left-links,
  .right-links {
    width: 90%;
    position: static;
  }
  .left-links {
    top: 0;
  }
  .cinqueterre-overlay {
    display: none;
  }
  div.proposal {
    justify-content: none;
    margin-top: 0;
  }
  div.proposal .description {
    margin-right: 0;
    width: 80%;
    background-color: rgba(255,255,255,0.8);
  }
  body#proposal .cinqueterre-overlay {
    display: none !important;
  }
  body#proposal .navbar {
    justify-content: flex-start;
    width: 80%;
    margin: 0;
    left: 30px;
    padding-left: 20px;
  }
  .videobg {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    width: 100%;
    height: 100%;
  }
  .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #gifts .contentarea {
    width: 100%;
    background-color: rgba(255,255,255,0.8);
  }
  #gifts .contentarea p.bodytext {
    width: 80%;
  }
  #gifts div.footnote {
    display: none;
  }
  #details .contentarea {
    margin: 0;
    width: 90%;
  }
  #details .contentarea .container {
    display: flex;
    flex-direction: column;
  }
  #details .contentarea .container .col2 {
    width: 80%;
    margin-left: 0;
  }
  #invites {
    height: auto;
    width: 100%;
  }
  #invites img {
    width: 100%;
    height: auto !important;
  }
  #contact {
    display: flex;
    justify-content: center;
  }
  div.contact {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: fit-content;
    background-color: rgba(0,0,0,0.75);
  }
  div.contact h2 {
    margin-bottom: 0;
  }
  div.contact h5 {
    margin-top: 10px;
  }
  div.contact h4 {
    color: nardo;
    text-align: left;
    margin-top: -5px;
    font-size: 1.6rem;
    margin-bottom: 0;
  }
  div.contact > div {
    width: 30%;
    padding: 10px;
    flex-direction: column;
    margin-bottom: 30px;
    margin-top: 30px;
    justify-content: center;
  }
  div.contact > div a {
    color: nardo;
  }
  div.contact #chris {
    display: flex;
    align-items: flex-end;
  }
}
