.light .navicon {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 99;
  transition: linear 0.5s all;
  width: 20px;
  height: 20px;
  padding: 20px;
  background-color: rgba(235,174,52,0.5);
  border-radius: 50%;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
.light .navicon:hover {
  background-color: #ebae34;
}
.light .navicon:before,
.light .navicon:after {
  background: #2d2e30;
  backface-visibility: hidden;
  content: "";
  height: 2px;
  left: 16px;
  transition: 0.8s ease;
  width: 30px;
}
.light .navicon:before {
  box-shadow: #2d2e30 0 9px 0 0;
  position: absolute;
  top: 20px;
}
.light .navicon:after {
  position: absolute;
  top: 38px;
}
.light .navicon--active {
  margin-top: 0px;
  transition: linear 0.5s all;
  border-radius: 50% 50% 50% 0;
}
.light .navicon--active:before {
  box-shadow: transparent 0 0 0 0;
  top: 28px;
  transform: rotate(225deg);
}
.light .navicon--active:after {
  top: 28px;
  transform: rotate(315deg);
}
.light .toggle {
  display: block;
  margin: 20px auto;
  width: 100%;
  max-width: 720px;
  background-color: rgba(235,174,52,0.925);
  display: block;
  opacity: 0;
  transition: ease-in 0.5s all;
  transform: translateY(-200%);
  min-width: 450px;
  position: absolute;
  top: calc(3% + 60px);
  border-radius: 0 15px 15px 15px;
}
.light .toggle--active {
  display: block;
  opacity: 1;
  transition: ease-in 0.5s all;
  transform: translateY(0);
}
.light .toggle__menu {
  padding: 0;
  margin: 0;
}
.light .toggle__menu li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, rgba(255,255,255,0.85) 33%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 4px 1px;
  background-repeat: repeat-x;
}
.light .toggle__menu li:last-child {
  border: none;
  padding-bottom: 0;
  background-image: none;
}
.light .toggle__menu li:first-child {
  padding-top: 0;
}
.light .toggle__menu li a {
  text-decoration: none;
  color: #2d2e30;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0;
  font-size: 2.1rem;
}
.light .toggle__menu li a:hover {
  color: #ebae34;
  background-color: #fff;
}
