@import url("https://use.typekit.net/dqd3zrm.css");
@import url("https://fonts.googleapis.com/css?family=Parisienne");
::selection {
  background: #ebae34;
}
::-moz-selection {
  background: #ebae34;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  font-family: "alda";
  font-weight: 400;
  background-image: url("../../assets/images/bg.jpg");
  background-position: right center;
  background-size: cover;
  font-size: 1.4rem;
}
* {
  margin: 0;
}
#centerText {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 85%;
  color: #d9d5ce;
}
#centerText h1 {
  font-family: "Parisienne";
  color: #ebae34;
  font-size: 6.5rem;
  font-weight: 100;
  margin-bottom: -22px;
}
p.mediumtext {
  font-size: 2rem;
  color: #d9d5ce;
}
p.smalltext {
  font-size: 1.4rem;
  color: #9a9499;
}
.bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15%;
}
#cvlogo {
  width: 300px;
  opacity: 1;
}
#cvlogo-main {
  width: 125px;
  opacity: 1;
}
.left-links,
.right-links {
  width: 30%;
  position: relative;
  height: 250px;
}
.left-links > div,
.right-links > div {
  display: flex;
  height: 50%;
}
.left-links > div > div,
.right-links > div > div {
  background-color: rgba(255,255,255,0.2);
  flex-grow: 1;
  height: 100%;
}
.left-links > div {
  right: 0;
}
.left-links > div > .mainlinks {
  margin-right: 1px;
}
.left-links > div > .mainlinks:first-child {
  margin-right: none;
}
.top-links {
  border-bottom: 1px solid #fafafa;
}
#centernav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 85%;
  color: #d9d5ce;
}
#centernav h1 {
  font-family: "Parisienne";
  color: #ebae34;
  font-size: 6.5rem;
  font-weight: 100;
  margin-bottom: -22px;
}
#centernav img {
  margin: 0 50px;
}
