@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(50%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes slideRight {
  0% {
    transform: translate3d(50%, 0, 0);
  }

  100% {
    transform: none;
  }
}

@keyframes slideDown {
  0% {
    transform: translate3d(0, -2%, 0);
  }

  100% {
    transform: none;
  }
}

@keyframes widthExpand {
  from {
    width: 0%;
    top: 0;
    right: 0;
  }

  to {
    width: 100%;
    top: 0;
    right: 0;
  }
}

.m-scene {
  /** Basic styles for an animated element */
  .scene_element {
    animation-duration: 0.25s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;

  }

  /** An element that fades in */
  .scene_element--fadein {
    animation-name: fadeIn;
  }

  /** An element that fades in and slides up */
  .scene_element--fadeinup {
    animation-name: fadeInUp;
  }

  /** An element that fades in and slides from the right */
  .scene_element--fadeinright {
    animation-name: fadeInRight;
  }
}

.slideRight
	animation-duration 2000ms
	animation-name slideRight
	
.fadeIn
	animation-duration 2000ms
	animation-name fadeIn
	transition-timing-function ease-in-out
	
.fadeindown
	animation-name fadeIn, slideDown
	animation-duration 2000ms, 2000ms
	transition-timing-function ease-in
 
.fadewidth
  animation-name widthExpand, fadeIn
  animation-duration 2000ms, 2000ms
  transition-timing-function ease-in
  animation-direction alternate
