// Fonts
// Alda (400,700)
@import url("https://use.typekit.net/lpc5jkg.css");




// Declarations
// Colors
charcoal = #2D2E30
nardo = #d9d5ce
grigio = #9a9499
gold = #ebae34



body
	font-family "alda"
	font-weight 400
	background-color charcoal


*
	margin 0


// Coming Soon
#centerText
	display flex
	align-items center
	justify-content center
	height 100%
	color nardo
	
