// Fonts
// Alda (400,700)
@import url("https://use.typekit.net/lpc5jkg.css");
@import url('https://fonts.googleapis.com/css?family=Parisienne');




// ------- D E C L A R A T I O N S 

// Colors
charcoal = #2D2E30
nardo = #d9d5ce
grigio = #9a9499
gold = #ebae34

// Fonts
heading = "Parisienne"
ampersand = "bickham-script-pro-3"
body = "alda"




// ------- G L O B A L
::selection
	background gold
	
::-moz-selection
	background gold



html
	font-size 62.5%


body
	font-family body
	font-weight 400
	background-image url('../../assets/images/bg.jpg')
	background-position right center
	background-size cover
	font-size 1.4rem


*
	margin 0


// Coming Soon
#centerText
	display flex
	align-items center
	justify-content center
	flex-direction column
	height 85%
	color nardo
	
	& h1
		font-family heading
		color gold
		font-size 6.5rem
		font-weight 100
		margin-bottom -22px
		
p.mediumtext
	font-size 2rem
	color nardo

p.smalltext
	font-size 1.4rem
	color grigio
		
.bottom
	display flex
	flex-direction column
	justify-content	center
	align-items	center
	height 15%