// Fonts
// Alda (400,700)
@import url("https://use.typekit.net/dqd3zrm.css");
@import url('https://fonts.googleapis.com/css?family=Parisienne');




// ------- D E C L A R A T I O N S 

// Colors
charcoal = #2D2E30
nardo = #d9d5ce
grigio = #9a9499
gold = #ebae34

// Fonts
heading = "Parisienne"
ampersand = "bickham-script-pro-3"
body = "alda"




// ------- G L O B A L
::selection
	background gold
	
::-moz-selection
	background gold



html
	font-size 62.5%
	overflow-x hidden


body
	font-family body
	font-weight 400
	background-image url('../../assets/images/bg.jpg')
	background-position right center
	background-size cover
	font-size 1.4rem


*
	margin 0


// Coming Soon
#centerText
	display flex
	align-items center
	justify-content center
	flex-direction column
	height 85%
	color nardo
	
	& h1
		font-family heading
		color gold
		font-size 6.5rem
		font-weight 100
		margin-bottom -22px
		
p.mediumtext
	font-size 2rem
	color nardo

p.smalltext
	font-size 1.4rem
	color grigio
		
.bottom
	display flex
	flex-direction column
	justify-content	center
	align-items	center
	height 15%
	
#cvlogo
	width 300px
	opacity 1

#cvlogo-main
	width 125px
	opacity 1
	


// New Index
.left-links,
.right-links
	width 30%
	position relative
	height 250px
	
	& > div
		display flex
		height 50%
		
		& > div /* This is for the links */
			background-color: rgba(255,255,255,0.2)
			flex-grow 1
			height 100%
			
		
.left-links > div
	right 0
	
	& > .mainlinks
		margin-right 1px
		
		&:first-child
			margin-right none

.top-links
	border-bottom 1px solid #fafafa
	
#centernav
	display flex
	align-items center
	justify-content center
	flex-direction row
	height 85%
	color nardo
	
	& h1
		font-family heading
		color gold
		font-size 6.5rem
		font-weight 100
		margin-bottom -22px
		
	& img
		margin 0 50px