// Fonts
// Alda (400,700)
@import url("https://use.typekit.net/dqd3zrm.css");
@import url('https://fonts.googleapis.com/css?family=Parisienne');




// ------- D E C L A R A T I O N S 

// Colors
charcoal = #2D2E30
nardo = #d9d5ce
grigio = #9a9499
gold = #ebae34

// Fonts
heading = "Parisienne"
ampersand = "bickham-script-pro-3"
body = "alda"
body-sans = "aktiv-grotesk"


.step1, .step2, .step3
	background-color transparent !important


// ------- G L O B A L
::selection
	background gold
	
::-moz-selection
	background gold

html
	font-size 62.5%
	overflow-x hidden
	box-sizing border-box


body
	font-family body
	font-weight 400
	background-image url('../../assets/images/bg.jpg')
	background-position right center
	background-size cover
	font-size 1.4rem

	
a
	color yellow
	text-decoration none
	
	&:hover
		color gold * 0.5
		
h4
	font-family body-sans
	font-size 2.1rem
	font-weight 300
	margin 0 0 10px


// Coming Soon
#centerText
	display flex
	align-items center
	justify-content center
	flex-direction column
	height 85%
	color nardo
	
	& h1
		font-family heading
		color gold
		font-size 6.5rem
		font-weight 100
		margin-bottom -22px
		
p.mediumtext
	font-size 2rem
	color nardo

p.smalltext
	font-size 1.4rem
	color grigio
		
.bottom
	display flex
	flex-direction column
	justify-content	center
	align-items	center
	height 15%
	
#cvlogo
	width 300px
	opacity 1

#cvlogo-main
	width 125px
	opacity 1
	
#cvlogo-sm
	width 80px
	margin-bottom 30px
	


// New Index
.left-links,
.right-links
	width 30%
	position relative
	height 250px
	
	// .toplinks AND .bottomlinks
	& > div
		display flex
		height 50%
		position relative
		
		// mainlink-container
		& > div
			width 50%
			position relative
			height 100%
			box-sizing border-box
		
		// mainlinks animation
		& > div > a /* This is for the links */
			height 100%
			position relative
			width 100%
			display flex
			align-items center
			justify-content center
			border-right 1px solid rgba(nardo, 0.7)
			box-sizing border-box
			
			font-size 3rem
			color gold
			text-decoration none
			font-weight 100
			line-height 3rem
			transition 300ms ease-in-out

				
			
		
.left-links > div
	right 0
	
	& > .mainlink-container
		
		&:last-child
			margin-right none
			
			& > a
				border none

.right-links > div > .mainlink-container:last-child
	margin-right none
	
	& > a 
		border none

.top-links
	border-bottom 1px solid rgba(nardo, 0.7)
	
	& div:first-child > a:hover
		box-shadow 1px 1px 0px gold
		
	& div:last-child > a:hover
		box-shadow -1px 1px 0px gold
		
.bottom-links
	& div:first-child > a:hover
		box-shadow 1px -1px 0px gold
		
	& div:last-child > a:hover
		box-shadow -1px -1px 0px gold
	
#centernav
	display flex
	align-items center
	justify-content center
	flex-direction row
	height 85%
	color nardo
	
	& h1
		font-family heading
		color gold
		font-size 6.5rem
		font-weight 100
		margin-bottom -22px
		
	& img
		margin 0 50px
		
#contentarea
	display flex
	align-items center
	justify-content center
	flex-direction column
	height 85%
	color nardo
	
	& h1
		font-family heading
		color gold
		font-size 6.5rem
		font-weight 100
		margin-bottom -22px
		
.bodytext
	font-size 16px
	font-weight 300
	font-family body-sans